body {
    background-color: #bedbec;
    width: auto;
    border: 2px solid gray;
    padding: 10px;

}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p {
    font-family: monospace ;
    font-size: 13px;
}
#nacionalidade, #habilidadeprincipal {
        font-style: oblique;
}
.hab1 {
    font-size: 15pt;
}
.hab2 {
    font-size: 14pt;
}
.hab3 {
    font-size: 13pt;
}
.hab4 {
    font-size: 12pt;
}
nav ul li{
    display: inline-block;
}
#foto {
    height: 200px;
    border: 1px solid black;
}
#mensagem {
    position: fixed;
    left: 240px;
    top: 170px;
    text-align: justify;
    font-size: 14px;
    font-style: italic;
}
#fotoVagner {
    
    border: 4px solid white;
}